@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('./colors.css');
@import url('./pills.css');
@import url('./button.css');
@import url('./header.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(82.08% 164.1% at 28.02% 64.36%, #131A2E 0%, #202C44 38.87%, #2F356D 100%);
}

header {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 30px 20px;
  font-size: 24px;

}

.h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 40px;
}

p {
  font-weight: 300;
}

.button {
  margin-top: 50px;
  padding: 14px 40px;
  border-radius: 100px;
  color: rgb(255, 255, 255);
  background: rgba(34, 33, 39, 0);
  color: white;
  border: none;
  font-weight: 600;
  font-size: 16px;
  transition: 0.5s;
  cursor: pointer;
  border: #fff solid 0.5px;
}

.image {
  margin-left: 0px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 40px;
  width: 100%;
}

.img {
  -webkit-mask: url(/images/darkmode.svg) no-repeat center;
  mask: url(/images/darkmode.svg) no-repeat center;
}

.image:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

nav ul li:hover {
  display: inline-block;
  list-style: none;
  margin: 30px 20px;
  font-size: 24px;
  color: rgb(100, 100, 100);
}

.text-white {
  color: white !important;
}

/*Darkmode*/
.darkmode {
  background: #fff;
}

/* Icones style */

.oda {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  margin-top: 71px;
}

.oda:hover {
  color: rgb(100, 100, 100);
}

@media only screen and (max-width: 600px) {
  #mainimg {
    margin: 0 auto;
    height: 350px;
    width: 100%;
    size: cover;
    content: url("/images/darkmode-phone.svg");
  }

  .oda {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .button {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 14px 40px;
    border-radius: 100px;
    color: rgb(255, 255, 255);
    background: rgba(34, 33, 39, 0);
    color: white;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
    border: #fff solid 0.5px;
    margin: auto;
  }

  .h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
  }
}

.credit {
  margin-bottom: 30px;
}


/* 
 LIGHT / DARK MODE - START
*/

/* Light mode */
#landing-page.light {
  color: black;
}

#landing-page.light .button {
  background-color: white;
  border-color: black;
  color: black;
}

#landing-page.light body {
  background-color: #F3F3F3;
}

#landing-page.light .button:hover {
  background-color: black;
  color: white;
}

#landing-page.light .oda {
  color: black;
}

/* Dark mode */
#landing-page.dark {
  color: white;
}

#landing-page.dark #darkmode {
  transform: rotate(90);
}

#landing-page.dark .button {
  background-color: black;
  border-color: white;
  color: white;
}

#landing-page.dark .button:hover {
  background-color: white;
  color: black;
}

#landing-page.dark .oda {
  color: white;
}

#landing-page.dark {
  background-color: black;
}

/* 
 LIGHT / DARK MODE - END
*/

.loader-wrap {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-position: center center;
  background-size: cover;
  color: white;
  font-size: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.black-gradient {
  background: linear-gradient(180deg, #2B355A 0%, #181B33 100%),
  linear-gradient(0deg, #423E52, #423E52);
  
}

.blue-gradient {
  background: linear-gradient(0deg, rgba(66, 62, 82, 0), rgba(66, 62, 82, 0)),
  linear-gradient(104.25deg, #6B6CA3 6.11%, #5B61D5 84.75%);
  
}

.navigation {
  list-style-type: none;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navigation a {
  text-decoration: none;
  color: white;
  text-align: left;
  font-size: 15px;
  margin-left: 15px;
  font-weight: 600;
}

.navigation a:hover {
  color: #02C1FE;
}

.navigation span {
  text-decoration: none;
  text-align: left;
  font-size: 15px;
  margin-left: 15px;
  font-weight: 600;
}

.navigation svg {
  margin-right: 20px;
}

.navigation li {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
}

.navigation li.selected {
  box-shadow: 0px 1px 0px 0px #51509C;
  box-shadow: 0px 2px 4px 0px #00000040;
  box-shadow: 0px 8px 22px 0px #51509C;
}

.navigation a.sidebar-selected svg {
  color: #02C1FE;
}

.page {
  display: flex;
}

.page-title {
  color: white;
  font-size: 30px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
}

.data-block p {
  font-weight: 600;
  ;
}

.data-block.black-gradient {
  border: 0.5px solid #423E52;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.data-block.blue-gradient {
  border: 1px solid #423E52;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.rounded-custom {
  border-radius: 8px !important;
}


.data-table th {
  padding: 10px;
  border-radius: 15px;
}

.data-table td {
  padding: 10px;
}

.data-table {
  border-radius: 7px;
}

.table-striped thead {
  border: none !important;
}

.table-striped th {
  border: none !important;
}

.table-striped tr {
  border: none !important;
}

.data-table {
  background: linear-gradient(180deg, #2B355B 0%, #191C34 100%),
  linear-gradient(0deg, #423E52, #423E52);
  margin-bottom: 0px !important;
}

.table-container {
  background-color: #423E52 !important;
}

.data-table thead tr {
  border-bottom: 1px solid #423E52 !important;
}

.data-table tbody tr:not(:last-child) {
  border-bottom: 1px solid #423E52 !important;
}

.data-table tbody td {
  border: none;
  color: white !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 16px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
}


.apexcharts-yaxis-label tspan {
  color: white !important;
}

.period-selection small {
  font-weight: 500;
  margin: 0px 2px;
  cursor: pointer;
}

.period-selection small.selected {
  font-weight: 600 !important;
}

.period-selection p {
  margin-bottom: 0;
}

#chain-name {
  font-size: 17px;
  margin-bottom: 0px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

#chain-name svg {
  margin-right: 10px;
  transition: 0s;
}

#chain-name:hover {
  color: #02C1FE;
}

#chain-name:hover svg {
  color: #02C1FE;
  transition: 0s;
}

.apexcharts-tooltip {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(20, 20, 20)) !important;
  border: #423E52 1px solid;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: 1px solid #423E52 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 15px !important;
  padding: 5px !important;
}

.apexcharts-tooltip-title {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(20, 20, 20)) !important;
  border-bottom: 0px !important;
}


#tvl-chart .apexcharts-tooltip-title {
  width: 220px;
}

.apexcharts-xcrosshairs.apexcharts-active,
.apexcharts-ycrosshairs.apexcharts-active {
  opacity: 0 !important;
}

.donate-block button {
  border: none;
  font-weight: 600;
}

.donate-block h3 {
  font-weight: bold;
}

.ecosystem-image {
  max-width: 100%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  height: auto;
}

.ecosystem-card {
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}

.ecosystem-card:hover {
  top: -10px;
}

.ecosystem-card h3 {
  font-weight: 600;
}

.ecosystem-card p {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px;
}

.ecosystem-data-title {
  color: #B3B3B3;
  font-size: 13px;
}

.ecosystem-data-value {
  color: white;
  font-size: 22px;
}

.ecosystem-data-change {
  color: #03D9A5;
  font-size: 15px;
  font-weight: 400 !important;
}

.ecosystem-splitter {
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, #02C1FE, #023693);
}

.ecosystem-icons a {
  color: white;
  margin-right: 15px;
  font-size: 25px;
  ;
}

.ecosystem-icons a:hover {
  color: rgb(100, 100, 100);
}

.ecosystem-logo {
  position: relative;
  width: 100px;
  height: 100px;
}

.ecosystem-logo {
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  background-color: black;
  top: 10%;
  bottom: 0;
  width: 80px;
  height: 80px;
}

.ecosystem-header {
  position: relative;
}

.text-input {
  border-radius: 3px;
  padding: 5px 5px;
}

.ecosystem-filters button {
  color: white;
  padding: 5px 30px;
  border: none !important;
  background: linear-gradient(to right, #02C1FE, #023693);
  font-weight: light;
}


.ecosystem-filters button span {
  font-weight: bold;
  ;
  margin-left: 20px;
}

.ecosystem-filters {
  margin-bottom: -10px;
  height: 40px;
  color: white;
}

.filters-list {
  padding-left: 30px;
  border-bottom: #423E52 1px solid;
  ;
}

.filters-modal {
  top: 60px;
  left: -10px;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(20, 20, 20));
  border: #423E52 1px solid;
  border-radius: 15px;
  width: 350px;
  z-index: 100;
}

/* Customize the label (the container) */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 11px;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid white;
  background-color: black;
  border-radius: 3px;
}


/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked~.checkmark {
  background: linear-gradient(to right, #02C1FE, #023693);
  border: none;
}

.custom-checkbox input:checked~span {
  background: -webkit-linear-gradient(#02C1FE, #023693);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-checkbox span {
  font-size: 15px;
}

.filters-footer button {
  background: transparent;
  border: none;
}

.filters-footer {
  margin-top: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.filters-footer button:hover {
  background: -webkit-linear-gradient(#02C1FE, #023693);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

.ecosystem-filters .text-input {
  border-radius: 5px;
  color: white;
  padding-left: 10px !important;
  height: 41px;
  border: #423E52 1px solid;
  ;
  background-color: black;
  margin-right: 20px;
}

.tvl-table th {
  padding: 20px 20px !important;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
}