@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('./footer.css');
@import url('./pills.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

.body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

header {
  width: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.logo {
  width: 140px;
  cursor: pointer;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 30px 20px;
  font-size: 24px;

}

.h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 40px;
}

p {
  font-weight: 300;
}

.button {
  margin-top: 50px;
  padding: 14px 40px;
  border-radius: 100px;
  color: rgb(255, 255, 255);
  background: rgba(34, 33, 39, 0);
  color: white;
  border: none;
  font-weight: 600;
  font-size: 16px;
  transition: 0.5s;
  cursor: pointer;
  border: #fff solid 0.5px;
}

.image {
  margin-left: 0px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 40px;
  width: 100%;
}

.img {
  -webkit-mask: url(/images/darkmode.svg) no-repeat center;
  mask: url(/images/darkmode.svg) no-repeat center;
}

.image:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

nav ul li:hover {
  display: inline-block;
  list-style: none;
  margin: 30px 20px;
  font-size: 24px;
  color: rgb(100, 100, 100);
}

.text-white {
  color: white !important;
}

.icones li {
  cursor: pointer;
  color: white !important;
  text-decoration: none;
}

/*Darkmode*/
.darkmode {
  background: #fff;
}

/* Icones style */

.icones svg {
  transition: 0.5s;
}

.icones svg:hover {
  color: rgb(100, 100, 100);
}

.oda {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  margin-top: 71px;
}

.oda:hover {
  color: rgb(100, 100, 100);
}

@media only screen and (max-width: 600px) {
  #mainimg {
    margin: 0 auto;
    height: 350px;
    width: 100%;
    size: cover;
    content: url("/images/darkmode-phone.svg");
  }

  .oda {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .button {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 14px 40px;
    border-radius: 100px;
    color: rgb(255, 255, 255);
    background: rgba(34, 33, 39, 0);
    color: white;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
    border: #fff solid 0.5px;
    margin: auto;
  }

  .h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
  }

  .logo {
    width: 40%;
  }
}

.credit {
  margin-bottom: 30px;
}


/* 
 LIGHT / DARK MODE - START
*/

/* Light mode */
#landing-page.light {
  color: black;
}

#landing-page.light .button {
  background-color: white;
  border-color: black;
  color: black;
}

#landing-page.light body {
  background-color: #F3F3F3;
}

#landing-page.light .icones svg {
  color: black;
}

#landing-page.light .button:hover {
  background-color: black;
  color: white;
}

#landing-page.light .oda {
  color: black;
}

/* Dark mode */
#landing-page.dark {
  color: white;
}

#landing-page.dark .icones svg {
  color: white;
}

#landing-page.dark #darkmode {
  transform: rotate(90);
}

#landing-page.dark .button {
  background-color: black;
  border-color: white;
  color: white;
}

#landing-page.dark .button:hover {
  background-color: white;
  color: black;
}

#landing-page.dark .oda {
  color: white;
}

#landing-page.dark {
  background-color: black;
}

/* 
 LIGHT / DARK MODE - END
*/

.loader-wrap {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-position: center center;
  background-size: cover;
  color: white;
  font-size: 100px;;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.black-gradient {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(20, 20, 20));
  border: #423E52 1px solid;
}

.blue-gradient {
  background: linear-gradient(to right, #02C1FE, #023693);
}

.sidebar {
  margin-top: 2.9rem !important;
}

.navigation {
  list-style-type: none;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.navigation a {
  text-decoration: none;
  color: white;
  text-align: left;
  font-size: 15px;
  margin-left: 15px;
  font-weight: 600;
}

.navigation a:hover {
  color: #02C1FE;
}

.navigation span {
  text-decoration: none;
  text-align: left;
  font-size: 15px;
  margin-left: 15px;
  font-weight: 600;
}

.navigation svg {
  margin-right: 20px;
}

.navigation li {
  margin-top: 20px;
}

.navigation a.sidebar-selected svg {
  color: #02C1FE;
}

.page {
  display: flex;
}

.page-title {
  color: white;
  font-weight: 700;
}

.data-block p {
  font-weight: 600;;
}

.rounded-custom {
  border-radius: 15px !important;
}


.data-table th {
  padding: 10px;
  border-radius: 15px;
}

.data-table td {
  padding: 10px;
}

.data-table {
  border-radius: 7px;
}

.table-striped thead {
  border: none !important;
}

.table-striped th {
  border: none !important;
}

.table-striped tr {
  border: none !important;
}

.data-table {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(20, 20, 20));
  margin-bottom: 0px !important;
}

.table-container {
  background-color: #423E52 !important;
}

.data-table thead tr {
  border-bottom: 1px solid #423E52 !important;
}

.data-table tbody tr:not(:last-child) {
  border-bottom: 1px solid #423E52 !important;
}

.data-table tbody td {
  border: none;
  color: white !important;
  font-weight: bold;
}


.apexcharts-yaxis-label tspan {
  color: white !important;
}

.period-selection small {
  font-weight: 500;
  margin: 0px 2px;
  cursor: pointer;
}

.period-selection small.selected {
  font-weight: 600 !important;
}

.period-selection p {
  margin-bottom: 0;
}

#chain-name {
  font-size: 17px;
  margin-bottom: 0px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

#chain-name svg {
  margin-right: 10px;
  transition: 0s;
}

#chain-name:hover {
  color: #02C1FE;
}

#chain-name:hover svg {
  color: #02C1FE;
  transition: 0s;
}

.apexcharts-tooltip {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(20, 20, 20)) !important;
  border: #423E52 1px solid;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: 1px solid #423E52 !important;
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
  border-radius: 15px !important;
  padding: 5px !important;
}

.apexcharts-tooltip-title {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(20, 20, 20)) !important;
  border-bottom: 0px !important;
}


#tvl-chart .apexcharts-tooltip-title {
  width: 220px;
}

.apexcharts-xcrosshairs.apexcharts-active, .apexcharts-ycrosshairs.apexcharts-active {
  opacity: 0 !important;
}

#logo-title {
  margin-left: -30px;
  font-weight: 600;
}

.donate-block button {
  border: none;
  font-weight: 600;
}

.donate-block h3 {
 font-weight: bold;
}

.ecosystem-image {
  max-width: 100%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  height: auto;
}

.ecosystem-card {
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}

.ecosystem-card:hover {
  top: -10px; 
}

.ecosystem-card h3 {
  font-weight: 600;
}

.ecosystem-card p {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px;
}

.ecosystem-data-title {
  color: #B3B3B3;
  font-size: 13px;
}

.ecosystem-data-value {
  color: white;
  font-size: 22px;
}

.ecosystem-data-change {
  color: #03D9A5;
  font-size: 15px;
  font-weight: 400 !important;
}
.ecosystem-splitter {
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, #02C1FE, #023693);
}

.ecosystem-icons a {
  color: white;
  margin-right: 15px;
  font-size: 25px;;
}

.ecosystem-icons a:hover {
  color: rgb(100, 100, 100);
}

.ecosystem-logo {
  position: relative;
  width: 100px;
  height: 100px;
}

.ecosystem-logo {
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  background-color: black;
  top: 10%;
  bottom: 0;
  width: 80px;
  height: 80px;
}

.ecosystem-header {
  position: relative;
}